<div class="oj-hybrid-padding">

    <oj-button label="Show loading dialog" on-oj-action='[[clickListener1]]'>
    </oj-button>

    <div class="oj-flex">
        <oj-dialog dialog-title="Loading" 
        id="loading-dialog" cancel-behavior="none" class=""
        position.my.vertical="center"
        position.my.horizontal="center"
        position.at.vertical="center"
        position.at.horizontal="center"  
        >
            <div slot="body">
                <div class="oj-flex oj-sm-justify-content-center">
                    <oj-progress-circle size="md" value="-1"></oj-progress-circle>
                </div>
            </div>
            <div slot="footer">
            </div>
        </oj-dialog>
    
    </div>
  </div>